
.login{
  background-image: url("../assets/images/login.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:12%;

}
.login-container {
  height:100%;
  padding-top:50px;
  padding: 20px;
  width: 100%;
  color:black;
  text-align: center;
  display: inline-block;
}

.button5 {
  background-color:#0f1934;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.button5:hover {
  opacity: 0.8;
}

    * {box-sizing: border-box;}
    
    /* Full-width input fields */
    input[type=text3], input[type=password] {
      width: 50%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 1px solid #0f1934; 
      background: #f1f1f1;
    }
    
    /* Add a background color when the inputs get focus */
    input[type=text3]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      border: 1px solid #0f1934;
    }
    
    
    /* Add padding to container elements */
    .container1 {
      padding: 16px;
      /* background: url(images/politico1.jpg) no-repeat scroll 0 5px; */
    }

    .psw,label,.show{
     color:white;
    }
    
    /* Modal Content/Box */
    .modal-content1 {
      color:white;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 60%; /* Could be more or less, depending on screen size */
      background-image: url('../assets/images/login.jpg'); 
    }
    
    /* Style the horizontal ruler */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
         width: 100%;
      }
    }

    @media screen and (max-width: 300px) {
      input[type=text3], input[type=password] {
         width: 100%;
      }
    }